html,
body,
#home {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f8f4ec;
}

nav {
	background-color: #f8f4ec;
}

.navbar-collapse {
	display: none;
}

.navbar-collapse.show {
	display: block;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: black;
}

.navbar-light .navbar-nav .nav-contato {
	color: #70db86;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #1a682a;
	transition: 0.3s;
	transform: scale(1.1);
}

.navbar-light .navbar-nav .nav-contato:hover {
	color: #1ad03f;
	transition: 0.3s;
	transform: scale(1.1);
}

.navbar-light .navbar-toggler {
	color: black;
	border-color: black;
}

.divisor {
	width: 1px;
	background: rgb(0, 0, 0);
	margin: 12px 30px;
}

/* ------------------------------- */

.number {
	position: relative;
	height: 600px;
}

.color-image {
	background-color: rgba(0, 0, 0, 0.5);
	height: 555px;
	background-color: #98e54c;
	background-size: cover;
	background-position: center;



	margin-top: -50px;
}



.content {
	border-radius: 20px;
	background-color: white;
	padding: 60px 95px 60px 95px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: black;
}

.number-title1 {
	font-size: 30px;
	margin-bottom: 16px;
	font-weight: 700;
	color: black;
	letter-spacing: -1px;
}

.number-title2 {
	font-size: 15px;
	margin-bottom: 25px;
	font-weight: 700;
	color: black;
	letter-spacing: -0.5px;
}

.btn-number {
	width: 295px;
	height: 50px;
	background-color: #41b343;
	color: #fff;
	border-color: #85e981;
	position: relative;
	border-radius: 20px;
	font-weight: lighter;
	font-size: 22px;
}

.btn-number:hover {
	color: #f8f4ec;
	transition: 0.2s ease-in-out;
	transform: scale(1.08);
}

/* ------------------------------- */

.img-linha {
	padding-top: 30px;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

/* -------------------------------- */
.pratos-title1 {
	text-align: center;
	margin: 5px;
	font-size: 39px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	letter-spacing: -1.5px;
	color: #001427;
}

.pratos-subtitle1 {
	text-align: center;
	padding-bottom: 20px;
	font-size: 15px;
	color: #001427;
	font-weight: lighter;
}

.pratos-title2 {
	padding-top: 90px;
	text-align: center;
	margin: 5px;
	font-size: 39px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	letter-spacing: -1.5px;
	color: #001427;
}

.pratos-subtitle2 {
	text-align: center;
	padding-bottom: 20px;
	font-size: 15px;
	color: #001427;
	font-weight: lighter;
}

section h2 {
	margin: 0 0 30px;
}

section p {
	font-size: 1.2em;
	line-height: 1.5em;
}

#about .section-title1 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 800;
	text-align: left;
	letter-spacing: -0.3px;
}
#about .section-title2 {
	font-size: 15px;
	font-weight: 200;
	text-align: left;
	letter-spacing: -0.8px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.about-img-cha {
	margin-bottom: 70px;
}

.informacao img {
	height: 650px;
	width: 100%;
	border-radius: 50px;
	object-fit: cover;
}

.img-container {
	height: 500px;
	position: relative;
	overflow: hidden;
}

.informacao p {
	text-align: center;
	font-size: 17px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 992px) {
	.informacao {
		margin-bottom: 30px;
	}
}

@media (max-width: 768px) {
	.informacao {
		margin: 0px 10px 30px;
		max-width: 100%;
	}
}

@media (max-width: 576px) {
	.informacao {
		max-width: 100%;
	}
}

/* ----------------------------- */

#about-us {
	padding-top: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-top: 30px;
	margin: 0 auto;
	background-color: white;
	border-radius: 40px;
	width: 80%;
}

#about-us h2 {
	font-size: 55px;
	font-weight: 700;
}

#about-us .btn-white {
	border-radius: 40px;
	color: white;
	background-color: #323231;
	align-items: center;
}

#about-us .btn-white:hover {
	border-radius: 40px;
	color: white;
	background-color: #131313;
	align-items: center;
	transition: 0.3s;
	transform: scale(1.05);
}

#about-us .font .section-title1 {
	margin-top: 30px;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: -0.5px;
}

.email {
	padding-bottom: 30px; /* distância entre o email e o texto RESTAURANTE */
}

.restaurante {
	padding-bottom: 30px;
}

#about-us .font .section-title2 {
	font-size: 15px;
	margin-bottom: 10px; /* distância entre os elementos */
}

#about-us .informacao {
	margin-top: 20px;
	margin-bottom: 50px;
	max-width: 100%;
	height: 60%;
}

a .informacao:hover {
	margin-top: 20px;
	margin-bottom: 50px;
	max-width: 100%;
	height: 60%;

	transition: 0.3s;
	transform: scale(1.05);
}

@media (max-width: 1110px) {
	#about-us .informacao {
		max-width: 100%;
		height: 40%;
	}
}

@media (max-width: 768px) {
	#about-us .informacao {
		max-width: 100%;
		height: 70%;
	}
}

@media (max-width: 595px) {
	#about-us .informacao {
		max-width: 100%;
		height: 50%;
	}
}

.text-center {
	text-align: center;
}
