#about-us {
	padding-top: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-top: 30px;
	margin: 0 auto;
	background-color: white;
	border-radius: 40px;
	width: 80%;
}

#about-us h2 {
	font-size: 55px;
	font-weight: 700;
}

#about-us .btn-white {
	border-radius: 40px;
	color: white;
	background-color: #323231;
	transition: 0.3s;
	align-items: center;
}

#about-us .btn-white:hover {
	border-radius: 40px;
	color: white;
	background-color: #131313;
	align-items: center;
	transform: scale(1.05);
}

#about-us .font .section-title1 {
	margin-top: 30px;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: -0.5px;
}

.email {
	padding-bottom: 30px; /* distância entre o email e o texto RESTAURANTE */
}

.restaurant {
	padding-bottom: 30px;
}

#about-us .font .section-title2 {
	font-size: 15px;
	margin-bottom: 10px; /* distância entre os elementos */
}

#about-us .information {
	margin-top: 20px;
	margin-bottom: 50px;
	max-width: 100%;
	height: 60%;
}

a .information:hover {
	margin-top: 20px;
	margin-bottom: 50px;
	max-width: 100%;
	height: 60%;

	transition: 0.3s;
	transform: scale(1.05);
}

@media (max-width: 1110px) {
	#about-us .information {
		max-width: 100%;
		height: 40%;
	}
}

@media (max-width: 768px) {
	#about-us .information {
		max-width: 100%;
		height: 70%;
	}
}

@media (max-width: 595px) {
	#about-us .information {
		max-width: 100%;
		height: 50%;
	}
}

.text-center {
	text-align: center;
}
